<div class="container">
<div class="row row-cols-1 row-cols-md-5 g-10"
>
    <div class="col">
      <div class="card">
          <img src = "/assets/world-war-3.webp">
        <div class="card-body">
          <h5 class="card-title">WWIII: Final Frontier</h5>
          <p class = "card-text">Science Daily</p>
          <p class = "card-text">9M Views  |  3 weeks ago</p>
          <button class = "click">4:35</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src = "/assets/index.jpeg">
        <div class="card-body">
          <h5 class="card-title">2022 COVID-19 Cases Report </h5>
          <p class = "card-text">CNN</p>
          <p class = "card-text">549K Views  |  1 month ago</p>
          <button class = "click">2:09</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src = "/assets/biden-michigan-ap-rc-200909_hpMain_16x9_1600.jpg">
        <div class="card-body">
          <h5 class="card-title">Biden Implements New Policy</h5>
          <p class = "card-text">Fox News</p>
          <p class = "card-text">14M Views  |  3 days ago</p>
          <button class = "click">8:31</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src = "/assets/indexlas.jpeg">
        <div class="card-body">
          <h5 class="card-title">How To: Cook Lasagna</h5>
          <p class = "card-text">Gordon Ramsay</p>
          <p class = "card-text">144K Views  |  8 days ago</p>
          <button class = "click">12:44</button>
        </div>
      </div>
    </div>
  </div>
  </div>