<div class="container">


    <div class="dropdown border-top">
      <a href="#" class="d-flex align-items-left justify-content-left p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="#">Explore</a></li>
        <li><a class="dropdown-item" href="#">Subscriptions</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Library</a></li>
        <li><a class="dropdown-item" href="#">History</a></li>
      </ul>
    </div>
  </div>
   