<nav class = "navbar">
    <div class = "container">
        <a class = "navbar-brand" href = "#">
            <img src = "https://cdn.mos.cms.futurecdn.net/8gzcr6RpGStvZFA2qRt4v6.jpg" alt = "" width = "150" height = "100">
        </a>

        <header class = "py-2 mb-3 border-bottom">
            <div class = "container-fluid d-grip gap-3 align-items-center search" >
                <div class="d-flex align-items-center">
                    <form class="w-100 me-3">
                      <input type="search" class="form-left" placeholder="Search" aria-label="Search">
                    </form>
                    <div class="flex-shrink-0 dropdown">
                      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false"></a>
                      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#">YouTube TV</a></li>
                        <li><a class="dropdown-item" href="#">YouTube Music</a></li>
                        <li><a class="dropdown-item" href="#">YouTube Kids</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">YouTube for Artists</a></li>
                      </ul>
                    </div>
                  </div>
            </div>
        </header>
       
    </div>
</nav>