<nav class = "navbar">
    <div class = "container">
        <a class = "navbar-brand" href = "#">
            <img src = "https://cdn.mos.cms.futurecdn.net/8gzcr6RpGStvZFA2qRt4v6.jpg" alt = "" width = "150" height = "100">
        </a>
        
        <ul class = "new navbar-nav">
            <li><a href = "#">Home</a></li>
            <li><a href = "#">About</a></li>
            <li><a href = "#">Product</a></li>
            <li><a href = "#">Contact</a></li>
            <li><a href = "#">Login</a></li>
        </ul>

    </div>
</nav>